/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * CopenhagenReboot implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * copenhagenreboot.css
 *
 * CopenhagenReboot stylesheet
 *
 */

/*
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


#copen_wrapper
{
    text-align: center;
    position:  relative;
}

#top_chunk
{
    vertical-align: text-top;
    display: inline-block;
    position: relative;
    width: 730px;
    height: 550px;
}

#bottom_chunk
{
    vertical-align: text-top;
    display: inline-block;
    position:  relative;
    height: 500px;
    min-width: 250px;
}

#harbors
{
    position: absolute;
    display:  block;
    left: 31px;
    height: 7px;
    width: 462px;
    font-size: 0px; /* used to ignore whitespace, keep HTML readable */

}

.copen_harbor
{
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 6px;
    background-image:  url('img/harbor.png');
    background-repeat: no-repeat;

}

#harbor_0{ left:0px; }
#harbor_1{ left:66px; }
#harbor_2{ left:132px; }
#harbor_3{ left:198px; }
#harbor_4{ left:264px; }
#harbor_5{ left:330px; }
#harbor_6{ left:396px; }

#deck_cards
{
    position: absolute;
    width: 28px;
    display: block;
}

#deck
{
    position: absolute;
    width: 28px;
    height: 41px;  
    background-image: url('img/tiny_cards.png');
    background-position: 0px 0px;
}

#small_mermaid_card
{
    display: block;
    position:  absolute;
    width: 28px;
    height: 41px;
    top: 41px;
    background-image: url('img/tiny_cards.png');
    background-position: 0px -42px;
}

#harbor_cards
{
    position:  absolute;
    display: block;
    width:  462px;
    height: 101px;
    top: 7px;
    left: 31px;
}

#harbor_cards .card
{
    top: 0px;
}

#harbor_cards .card:hover
{
    z-index: 10; 
}

.card
{
    display: block;
    position:  absolute;
    width: 66px;
    height: 101px;
    background-image:  url('img/cards.png');
}

.card.red_card { background-position: 0px 0px; }
.card.yellow_card { background-position: -70px 0px; }
.card.green_card { background-position: -140px 0px; }
.card.blue_card { background-position: -210px 0px; }
.card.purple_card { background-position: -280px 0px; }
.card.mermaid_card {  background-position: -350px 0px; }

.copen_harbor_position
{
    display: block;
    position: absolute;
    width: 66px;
    height: 101px;
}

#harbor_position_0{ left:0px; }
#harbor_position_1{ left:66px; }
#harbor_position_2{ left:132px; }
#harbor_position_3{ left:198px; }
#harbor_position_4{ left:264px; }
#harbor_position_5{ left:330px; }
#harbor_position_6{ left:396px; }

#polyominoes
{
    display:  block;
    position: absolute;

    top: 112px;

    width:  477px;
    height:  370px;
    
}

.polyomino
{
    background-image: url('img/polyominoes.png');
    position: absolute;
    perspective: 1000px;
}

.usable:hover
{
    filter:  drop-shadow(0px 0px 5px white);
    cursor:  pointer;
}

.unusable:hover
{
    filter:  drop-shadow(0px 0px 5px red);
}

.polyomino.purple-2  
{
    background-position: 0px -212px;
    width: 68px;
    height: 34px;
}

#purple-2_1{ left: 0px; top: 4px; }
#purple-2_2{ left: 2px; top: 2px; }
#purple-2_3{ left: 4px; top: 0px; }

.polyomino.purple-3
{
    background-position: 0px -176px;
    width: 102px;
    height: 34px;
}

#purple-3_1{ left: 74px; top: 4px; }
#purple-3_2{ left: 76px; top: 2px; }
#purple-3_3{ left: 78px; top: 0px; }

.polyomino.purple-4
{
    background-position: -312px 0px;
    width: 136px;
    height: 34px;

    left: 181px;
    top: 4px;
}

#purple-4_1{ left: 181px; top: 4px; }
#purple-4_2{ left: 183px; top: 2px; }
#purple-4_3{ left: 185px; top: 0px; }

.polyomino.purple-5
{
    background-position: -208px -176px;
    width: 170px;
    height: 34px;

    left: 322px;
    top: 4px;
}

.polyomino.green-2
{
    background-position: -70px -212px;
    width: 68px;
    height: 34px;
}

#green-2_1{ left: 0px; top: 45px; }
#green-2_2{ left: 2px; top: 43px; }
#green-2_3{ left: 4px; top: 41px; }

.polyomino.green-3
{
    background-position: -104px -176px;
    width: 102px;
    height: 34px;
}

#green-3_1{ left: 74px; top: 45px; }
#green-3_2{ left: 76px; top: 43px; }
#green-3_3{ left: 78px; top: 41px; }

.polyomino.green-4
{
    background-position: -104px -106px;
    width: 102px;
    height: 68px;
}

#green-4_1{ left: 181px; top: 45px; }
#green-4_2{ left: 183px; top: 43px; }
#green-4_3{ left: 185px; top: 41px; }

.polyomino.green-5
{
    background-position: -104px 0px;
    width: 102px;
    height: 102px;

    top: 45px;
    left: 293px;
}

.polyomino.red-2
{
    background-position: -140px -212px;
    width: 68px;
    height: 34px;
}

#red-2_1{ left: 0px; top: 136px; }
#red-2_2{ left: 2px; top: 134px; }
#red-2_3{ left: 4px; top: 132px; }

.polyomino.red-3
{
    background-position: -382px -36px;
    width: 68px;
    height: 68px;
}

#red-3_1{ left: 74px; top: 136px; }
#red-3_2{ left: 76px; top: 134px; }
#red-3_3{ left: 78px; top: 132px; }

.polyomino.red-4
{
    background-position: -450px -176px;
    width: 68px;
    height: 68px;
}

#red-4_1{ left: 148px; top: 136px; }
#red-4_2{ left: 150px; top: 134px; }
#red-4_3{ left: 152px; top: 132px; }

.polyomino.red-5
{
    background-position: 0px -106px;
    width: 102px;
    height: 68px;

    top: 136px;
    left: 223px;
}

.polyomino.blue-2
{
    background-position: -210px -212px;
    width: 68px;
    height: 34px;
}

#blue-2_1{ left: 0px; top: 213px; }
#blue-2_2{ left: 2px; top: 211px; }
#blue-2_3{ left: 4px; top: 209px; }

.polyomino.blue-3
{
    background-position: -312px -36px;
    width: 68px;
    height: 68px;
}

#blue-3_1{ left: 74px; top: 213px; }
#blue-3_2{ left: 76px; top: 211px; }
#blue-3_3{ left: 78px; top: 209px; }

.polyomino.blue-4
{
    background-position: -208px -106px;
    width: 102px;
    height: 68px;
}

#blue-4_1{ left: 169px; top: 213px; }
#blue-4_2{ left: 171px; top: 211px; }
#blue-4_3{ left: 173px; top: 209px; }

.polyomino.blue-5
{
    background-position: -208px 0px;
    width: 102px;
    height: 102px;

    top: 183px;
    left: 293px;
}

.polyomino.yellow-2
{
    background-position: -280px -212px;
    width: 68px;
    height: 34px;
}

#yellow-2_1{ left: 0px; top: 311px; }
#yellow-2_2{ left: 2px; top: 309px; }
#yellow-2_3{ left: 4px; top: 307px; }

.polyomino.yellow-3
{
    background-position: -380px -176px;
    width: 68px;
    height: 68px;
}

#yellow-3_1{ left: 74px; top: 311px; }
#yellow-3_2{ left: 76px; top: 309px; }
#yellow-3_3{ left: 78px; top: 307px; }

.polyomino.yellow-4
{
    background-position: -312px -106px;
    width: 102px;
    height: 68px;
}

#yellow-4_1{ left: 169px; top: 311px; }
#yellow-4_2{ left: 171px; top: 309px; }
#yellow-4_3{ left: 173px; top: 307px; }

.polyomino.yellow-5
{
    background-position: 0px 0px;
    width: 102px;
    height: 102px;

    left: 293px;
    top:  279px;
}

.polyomino.white-1
{
    background-position: -416px -106px;
    width: 34px;
    height: 34px;  
}

#white-1_1{ left: 258px; top: 400px; z-index: 1;}
#white-1_2{ left: 260px; top: 398px; z-index: 2;}
#white-1_3{ left: 262px; top: 396px; z-index: 3;}
#white-1_4{ left: 292px; top: 400px; z-index: 1;}
#white-1_5{ left: 294px; top: 398px; z-index: 2;}
#white-1_6{ left: 296px; top: 396px; z-index: 3;}
#white-1_7{ left: 326px; top: 400px; z-index: 1;}
#white-1_8{ left: 329px; top: 398px; z-index: 2;}
#white-1_9{ left: 330px; top: 396px; z-index: 3;}
#white-1_10{ left: 361px; top: 400px; z-index: 1;}
#white-1_11{ left: 363px; top: 398px; z-index: 2;}
#white-1_12{ left: 365px; top: 396px; z-index: 3;}


.player_area
{
    width: 233px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

#hand
{
    display: block;
    position: absolute;

    /*background-color:  rgba(255,255,255,0.5);*/
    top: 184px;
    left: 430px;
    width: 66px;
    height: 241px;
}

#hand.over_max_hand_size
{
    filter:  drop-shadow(0px 0px 5px red);
    curosr:  pointer;
}

#cards_in_hand
{
    display: block: ;
    position:  absolute;

    width: 100%;
    height: 100%;
}

#hand_bottom_card_target
{
    display:  block;
    position:  absolute;

    top: 140px;
    width:  66px;
    height: 101px;
}

.playerboard
{
    width: 230px;
    height: 425px;
    background-image:  url('img/playerboards.png');
}

.playerboard_color_3785bd{ background-position: 0px 0px; }     /* blue */
.playerboard_color_fbcc3c{ background-position: -230px 0px; }  /* yellow */
.playerboard_color_3da045{ background-position: -460px 0px; }  /* green */
.playerboard_color_e2474a{ background-position: -690px 0px; }  /* red */

.playerboard .polyomino
{
    z-index: 1; /* Make sure the clickable cells are always in front of place polyominoes */
}

.board_cell
{
    display:  inline-block;
    position: absolute;
    width: 34px;
    height: 34px;
    /*background-color: black; opacity: 0.25;*/
    z-index: 2;
}

#polyomino_preview
{
    opacity: 0.5;
    background-image: url('img/polyominoes.png');
    position: absolute;
    display: block;
}

.board_cells
{
    display: block;
    position: absolute;
    height: 306px;
    width:  170px;
    left: 16px;
    top: 61px;
}

.board_cell.preview.invalid
{
    background-color:  red;
    opacity: 0.25;
}

.board_cell_0_8{ top: 0px;  left:  0px; }
.board_cell_0_7{ top: 34px; left:  0px; }
.board_cell_0_6{ top: 68px; left: 0px; }
.board_cell_0_5{ top: 102px; left: 0px; }
.board_cell_0_4{ top: 136px; left: 0px; }
.board_cell_0_3{ top: 170px; left: 0px; }
.board_cell_0_2{ top: 204px; left: 0px; }
.board_cell_0_1{ top: 238px; left: 0px; }
.board_cell_0_0{ top: 272px; left: 0px; }

.board_cell_1_8{ top: 0px;  left:  34px; }
.board_cell_1_7{ top: 34px; left:  34px; }
.board_cell_1_6{ top: 68px;  left: 34px; }
.board_cell_1_5{ top: 102px; left: 34px; }
.board_cell_1_4{ top: 136px; left: 34px; }
.board_cell_1_3{ top: 170px; left: 34px; }
.board_cell_1_2{ top: 204px; left: 34px; }
.board_cell_1_1{ top: 238px; left: 34px; }
.board_cell_1_0{ top: 272px; left: 34px; }

.board_cell_2_8{ top: 0px;  left:  68px; }
.board_cell_2_7{ top: 34px; left:  68px; }
.board_cell_2_6{ top: 68px;  left: 68px; }
.board_cell_2_5{ top: 102px; left: 68px; }
.board_cell_2_4{ top: 136px; left: 68px; }
.board_cell_2_3{ top: 170px; left: 68px; }
.board_cell_2_2{ top: 204px; left: 68px; }
.board_cell_2_1{ top: 238px; left: 68px; }
.board_cell_2_0{ top: 272px; left: 68px; }

.board_cell_3_8{ top: 0px;  left:  102px; }
.board_cell_3_7{ top: 34px; left:  102px; }
.board_cell_3_6{ top: 68px;  left: 102px; }
.board_cell_3_5{ top: 102px; left: 102px; }
.board_cell_3_4{ top: 136px; left: 102px; }
.board_cell_3_3{ top: 170px; left: 102px; }
.board_cell_3_2{ top: 204px; left: 102px; }
.board_cell_3_1{ top: 238px; left: 102px; }
.board_cell_3_0{ top: 272px; left: 102px; }

.board_cell_4_8{ top: 0px;  left:  136px; }
.board_cell_4_7{ top: 34px; left:  136px; }
.board_cell_4_6{ top: 68px;  left: 136px; }
.board_cell_4_5{ top: 102px; left: 136px; }
.board_cell_4_4{ top: 136px; left: 136px; }
.board_cell_4_3{ top: 170px; left: 136px; }
.board_cell_4_2{ top: 204px; left: 136px; }
.board_cell_4_1{ top: 238px; left: 136px; }
.board_cell_4_0{ top: 272px; left: 136px; }


#owned_player_area
{
    position: absolute;
    top: 0px;
    left: 496px;
}

#opponent_playerboards
{
    position:  relative;
}

#opponent_playerboards .playerboard
{
    display: inline-block;
}

.ability_tile_area
{
    margin-top: 5px;
}

.ability_tile
{
    /*background-image: url('img/tiles.png'); temp taken out*/
    width: 43px;
    height: 43px;
    display: inline-block;
}

.ability_tile.any_cards{
    background-position: -194px 0px;
}

.ability_tile.additional_card{
        background-position: -145.5px 0px;
}
.ability_tile.construction_discount{
        background-position: -97px 0px;
}
.ability_tile.change_of_colors{
        background-position: -48.5px 0px;
}
.ability_tile.both_actions{
        background-position: 0px 0px;
}

#shadow_box{
    display:  block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
}

.behind_shadow_box{
    z-index: -2;
}


#polyomino_placement
{
    display:  none;
    position:  absolute;
    left:  0px;
    top:  0px;    
}

#polyomino_placement_target
{
    display:  block;
    position: absolute;
    left:  328px;
    top: 128px;    
    width: 158px;
    height: 158px;
}

#polyomino_placement .polyomino
{
    filter:  drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0,0.5));
}

#polyomino_placement_buttons
{
    display:  block;
    position:  absolute;
    left:  0px;
    top:  0px;
}

#polyomino_rotate_button
{
    display:  block;
    position: absolute;
    left:  348px;
    top: 286px;
    width: 55px;
    height: 55px;
    background-image: url('img/polyomino_buttons.png');
    background-position: 0px 0px;

    cursor: pointer;
}

#polyomino_rotate_button:active
{
    background-position: 0px -57px
}

#polyomino_flip_button
{
    display: block;
    position: absolute;
    left:  413px;
    top: 286px;
    width: 55px;
    height: 55px;
    background-image: url('img/polyomino_buttons.png');
    background-position: -55px 0px;

    cursor: pointer;
}

#polyomino_flip_button:active
{
    background-position: -55px -57px
}

/* UI Playerboards */

.player_board_content .copen_hand_size_wrapper
{
    margin-left: 44px;
}

.player_board_content .copen_hand_size_card
{
    background-image: url('img/polyomino_buttons.png'); 
    width: 28px;
    height: 41px;  
    background-image: url('img/tiny_cards.png');
    background-position: 0px 0px;
}

.player_board_content .copen_hand_size_number
{
    text-align: center;
    color:  white;
    font-weight: bold;
    padding-top: 10px;
}


