/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * CopenhagenReboot implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * copenhagenreboot.css
 *
 * CopenhagenReboot stylesheet
 *
 */

/*
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


#copen_wrapper
{
    text-align: center;
    position:  relative;
}

.copen_button_disabled
{
    color: #afafaf !important;
    background:  #6a6a6a !important;
    border: 1px solid #9b9b9b !important;
    cursor:  default !important;
}

#top_chunk
{
    vertical-align: text-top;
    display: inline-block;
    position: relative;
    width: 730px;
    height: 550px;
}

#bottom_chunk
{
    vertical-align: text-top;
    display: inline-block;
    position:  relative;
    height: 500px;
    min-width: 250px;
}

#harbors
{
    position: absolute;
    display:  block;
    left: 31px;
    height: 7px;
    width: 462px;

}

.copen_harbor
{
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 6px;
    background-image:  url('img/harbor.png');
    background-repeat: no-repeat;
}

#harbor_0{ left:0px; }
#harbor_1{ left:66px; }
#harbor_2{ left:132px; }
#harbor_3{ left:198px; }
#harbor_4{ left:264px; }
#harbor_5{ left:330px; }
#harbor_6{ left:396px; }

#deck_cards
{
    position: absolute;
    width: 28px;
    display: block;
}

#deck
{
    display: block;
    width: 28px;
    height: 41px;

    position: absolute;  
    background-image: url('img/tiny_cards.png');
    background-position: 0px 0px;
    text-align: center;
}

#cards_remaining
{
    position: absolute;
    text-align: center;
    color:  white;
    font-weight: bold;
   
    width: 60px;
    height: 60px;

    left:  -50%;
    z-index:  40;
    margin-top: 10px; 
    opacity: 0;

    text-shadow: 2px 2px #888888;
}

#small_mermaid_card
{
    display: block;
    position:  absolute;
    width: 28px;
    height: 41px;
    top: 41px;
    background-image: url('img/tiny_cards.png');
    background-position: 0px -42px;
}

#harbor_cards
{
    position:  absolute;
    display: block;
    width:  462px;
    height: 101px;
    top: 7px;
    left: 31px;
}

#harbor_cards .copen_card
{
    top: 0px;
}

#harbor_cards .copen_card:hover
{
    z-index: 10; 
}

.copen_card
{
    display: block;
    position:  absolute;
    width: 66px;
    height: 101px;
    background-image:  url('img/cards.png');
}

.copen_red_card { background-position: 0px 0px; }
.copen_yellow_card { background-position: -70px 0px; }
.copen_green_card { background-position: -140px 0px; }
.copen_blue_card { background-position: -210px 0px; }
.copen_purple_card { background-position: -280px 0px; }
.copen_mermaid_card {  background-position: -350px 0px; }

.copen_harbor_position
{
    display: block;
    position: absolute;
    width: 66px;
    height: 101px;
}

#harbor_position_0{ left:0px; }
#harbor_position_1{ left:66px; }
#harbor_position_2{ left:132px; }
#harbor_position_3{ left:198px; }
#harbor_position_4{ left:264px; }
#harbor_position_5{ left:330px; }
#harbor_position_6{ left:396px; }

.copen_usable:hover
{
    filter:  drop-shadow(0px 0px 5px white);
    cursor:  pointer;
}

.copen_unusable:hover
{
    filter:  drop-shadow(0px 0px 5px red);
}

.copen_activated,
.copen_activated:hover
{
    filter:  drop-shadow(0px 0px 5px blue);
}


#polyominoes
{
    display:  block;
    position: absolute;

    top: 112px;

    width:  477px;
    height:  370px;   
}

.copen_polyomino
{
    background-image: url('img/polyominoes.png');
    position: absolute;
    perspective: 1000px;
}

.copen_log_polyomino
{
    display: inline-block;
    background-image: url('img/polyominoes.png');
}

.copen_purple-2  
{
    background-position: 0px -212px;
    width: 68px;
    height: 34px;
}

#purple-2_1{ left: 0px; top: 4px; }
#purple-2_2{ left: 2px; top: 2px; }
#purple-2_3{ left: 4px; top: 0px; }

.copen_purple-3
{
    background-position: 0px -176px;
    width: 102px;
    height: 34px;
}

#purple-3_1{ left: 74px; top: 4px; }
#purple-3_2{ left: 76px; top: 2px; }
#purple-3_3{ left: 78px; top: 0px; }

.copen_purple-4
{
    background-position: -312px 0px;
    width: 136px;
    height: 34px;

    left: 181px;
    top: 4px;
}

#purple-4_1{ left: 181px; top: 4px; }
#purple-4_2{ left: 183px; top: 2px; }
#purple-4_3{ left: 185px; top: 0px; }

.copen_purple-5
{
    background-position: -208px -176px;
    width: 170px;
    height: 34px;

    left: 322px;
    top: 4px;
}

.copen_green-2
{
    background-position: -70px -212px;
    width: 68px;
    height: 34px;
}

#green-2_1{ left: 0px; top: 45px; }
#green-2_2{ left: 2px; top: 43px; }
#green-2_3{ left: 4px; top: 41px; }

.copen_green-3
{
    background-position: -104px -176px;
    width: 102px;
    height: 34px;
}

#green-3_1{ left: 74px; top: 45px; }
#green-3_2{ left: 76px; top: 43px; }
#green-3_3{ left: 78px; top: 41px; }

.copen_green-4
{
    background-position: -104px -106px;
    width: 102px;
    height: 68px;
}

#green-4_1{ left: 181px; top: 45px; }
#green-4_2{ left: 183px; top: 43px; }
#green-4_3{ left: 185px; top: 41px; }

.copen_green-5
{
    background-position: -104px 0px;
    width: 102px;
    height: 102px;

    top: 45px;
    left: 293px;
}

.copen_red-2
{
    background-position: -140px -212px;
    width: 68px;
    height: 34px;
}

#red-2_1{ left: 0px; top: 136px; }
#red-2_2{ left: 2px; top: 134px; }
#red-2_3{ left: 4px; top: 132px; }

.copen_red-3
{
    background-position: -382px -36px;
    width: 68px;
    height: 68px;
}

#red-3_1{ left: 74px; top: 136px; }
#red-3_2{ left: 76px; top: 134px; }
#red-3_3{ left: 78px; top: 132px; }

.copen_red-4
{
    background-position: -450px -176px;
    width: 68px;
    height: 68px;
}

#red-4_1{ left: 148px; top: 136px; }
#red-4_2{ left: 150px; top: 134px; }
#red-4_3{ left: 152px; top: 132px; }

.copen_red-5
{
    background-position: 0px -106px;
    width: 102px;
    height: 68px;

    top: 136px;
    left: 223px;
}

.copen_blue-2
{
    background-position: -210px -212px;
    width: 68px;
    height: 34px;
}

#blue-2_1{ left: 0px; top: 213px; }
#blue-2_2{ left: 2px; top: 211px; }
#blue-2_3{ left: 4px; top: 209px; }

.copen_blue-3
{
    background-position: -312px -36px;
    width: 68px;
    height: 68px;
}

#blue-3_1{ left: 74px; top: 213px; }
#blue-3_2{ left: 76px; top: 211px; }
#blue-3_3{ left: 78px; top: 209px; }

.copen_blue-4
{
    background-position: -208px -106px;
    width: 102px;
    height: 68px;
}

#blue-4_1{ left: 169px; top: 213px; }
#blue-4_2{ left: 171px; top: 211px; }
#blue-4_3{ left: 173px; top: 209px; }

.copen_blue-5
{
    background-position: -208px 0px;
    width: 102px;
    height: 102px;

    top: 183px;
    left: 293px;
}

.copen_yellow-2
{
    background-position: -280px -212px;
    width: 68px;
    height: 34px;
}

#yellow-2_1{ left: 0px; top: 311px; }
#yellow-2_2{ left: 2px; top: 309px; }
#yellow-2_3{ left: 4px; top: 307px; }

.copen_yellow-3
{
    background-position: -380px -176px;
    width: 68px;
    height: 68px;
}

#yellow-3_1{ left: 74px; top: 311px; }
#yellow-3_2{ left: 76px; top: 309px; }
#yellow-3_3{ left: 78px; top: 307px; }

.copen_yellow-4
{
    background-position: -312px -106px;
    width: 102px;
    height: 68px;
}

#yellow-4_1{ left: 169px; top: 311px; }
#yellow-4_2{ left: 171px; top: 309px; }
#yellow-4_3{ left: 173px; top: 307px; }

.copen_yellow-5
{
    background-position: 0px 0px;
    width: 102px;
    height: 102px;

    left: 293px;
    top:  279px;
}

.copen_white-1
{
    background-position: -416px -106px;
    width: 34px;
    height: 34px;  
}

#white-1_1{ left: 258px; top: 400px; z-index: 1;}
#white-1_2{ left: 260px; top: 398px; z-index: 2;}
#white-1_3{ left: 262px; top: 396px; z-index: 3;}
#white-1_4{ left: 292px; top: 400px; z-index: 1;}
#white-1_5{ left: 294px; top: 398px; z-index: 2;}
#white-1_6{ left: 296px; top: 396px; z-index: 3;}
#white-1_7{ left: 326px; top: 400px; z-index: 1;}
#white-1_8{ left: 329px; top: 398px; z-index: 2;}
#white-1_9{ left: 330px; top: 396px; z-index: 3;}
#white-1_10{ left: 361px; top: 400px; z-index: 1;}
#white-1_11{ left: 363px; top: 398px; z-index: 2;}
#white-1_12{ left: 365px; top: 396px; z-index: 3;}


.copen_player_area
{
    width: 233px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

#hand
{
    display: block;
    position: absolute;

    /*background-color:  rgba(255,255,255,0.5);*/
    top: 184px;
    left: 430px;
    width: 66px;
    height: 241px;
}

#hand.copen_over_max_hand_size
{
    filter:  drop-shadow(0px 0px 5px red);
    curosr:  pointer;
}

#cards_in_hand
{
    display: block: ;
    position:  absolute;

    width: 100%;
    height: 100%;
}

#hand_bottom_card_target
{
    display:  block;
    position:  absolute;

    top: 140px;
    width:  66px;
    height: 101px;
}

.copen_playerboard
{
    width: 230px;
    height: 425px;
    background-image:  url('img/playerboards.png');
}

.copen_playerboard_color_3785bd{ background-position: 0px 0px; }     /* blue */
.copen_playerboard_color_fbcc3c{ background-position: -230px 0px; }  /* yellow */
.copen_playerboard_color_3da045{ background-position: -460px 0px; }  /* green */
.copen_playerboard_color_e2474a{ background-position: -690px 0px; }  /* red */

.copen_playerboard .copen_polyomino
{
    z-index: 1; /* Make sure the clickable cells are always in front of place polyominoes */
}



.copen_board_cell
{
    display:  inline-block;
    position: absolute;
    width: 34px;
    height: 34px;
    z-index: 2;
}

#polyomino_preview
{
    opacity: 0.5;
    background-image: url('img/polyominoes.png');
    position: absolute;
    display: block;
}

.copen_board_cells
{
    display: block;
    position: absolute;
    height: 306px;
    width:  170px;
    left: 16px;
    top: 61px;
}

.copen_board_cell.copen_preview.copen_invalid
{
    background-color:  red;
    opacity: 0.25;
}

.copen_board_cell_0_8{ top: 0px;  left:  0px; }
.copen_board_cell_0_7{ top: 34px; left:  0px; }
.copen_board_cell_0_6{ top: 68px; left: 0px; }
.copen_board_cell_0_5{ top: 102px; left: 0px; }
.copen_board_cell_0_4{ top: 136px; left: 0px; }
.copen_board_cell_0_3{ top: 170px; left: 0px; }
.copen_board_cell_0_2{ top: 204px; left: 0px; }
.copen_board_cell_0_1{ top: 238px; left: 0px; }
.copen_board_cell_0_0{ top: 272px; left: 0px; }

.copen_board_cell_1_8{ top: 0px;  left:  34px; }
.copen_board_cell_1_7{ top: 34px; left:  34px; }
.copen_board_cell_1_6{ top: 68px;  left: 34px; }
.copen_board_cell_1_5{ top: 102px; left: 34px; }
.copen_board_cell_1_4{ top: 136px; left: 34px; }
.copen_board_cell_1_3{ top: 170px; left: 34px; }
.copen_board_cell_1_2{ top: 204px; left: 34px; }
.copen_board_cell_1_1{ top: 238px; left: 34px; }
.copen_board_cell_1_0{ top: 272px; left: 34px; }

.copen_board_cell_2_8{ top: 0px;  left:  68px; }
.copen_board_cell_2_7{ top: 34px; left:  68px; }
.copen_board_cell_2_6{ top: 68px;  left: 68px; }
.copen_board_cell_2_5{ top: 102px; left: 68px; }
.copen_board_cell_2_4{ top: 136px; left: 68px; }
.copen_board_cell_2_3{ top: 170px; left: 68px; }
.copen_board_cell_2_2{ top: 204px; left: 68px; }
.copen_board_cell_2_1{ top: 238px; left: 68px; }
.copen_board_cell_2_0{ top: 272px; left: 68px; }

.copen_board_cell_3_8{ top: 0px;  left:  102px; }
.copen_board_cell_3_7{ top: 34px; left:  102px; }
.copen_board_cell_3_6{ top: 68px;  left: 102px; }
.copen_board_cell_3_5{ top: 102px; left: 102px; }
.copen_board_cell_3_4{ top: 136px; left: 102px; }
.copen_board_cell_3_3{ top: 170px; left: 102px; }
.copen_board_cell_3_2{ top: 204px; left: 102px; }
.copen_board_cell_3_1{ top: 238px; left: 102px; }
.copen_board_cell_3_0{ top: 272px; left: 102px; }

.copen_board_cell_4_8{ top: 0px;  left:  136px; }
.copen_board_cell_4_7{ top: 34px; left:  136px; }
.copen_board_cell_4_6{ top: 68px;  left: 136px; }
.copen_board_cell_4_5{ top: 102px; left: 136px; }
.copen_board_cell_4_4{ top: 136px; left: 136px; }
.copen_board_cell_4_3{ top: 170px; left: 136px; }
.copen_board_cell_4_2{ top: 204px; left: 136px; }
.copen_board_cell_4_1{ top: 238px; left: 136px; }
.copen_board_cell_4_0{ top: 272px; left: 136px; }


#owned_player_area
{
    position: absolute;
    top: 0px;
    left: 496px;
}

#opponent_playerboards
{
    position:  relative;
}

#opponent_playerboards .copen_playerboard
{
    display: inline-block;
}

#ability_tile_stacks
{

    display:  block;
    width:  477px;
    height:  43px;

    position: absolute;
    top: 505px;

    text-align: left;

   
}

.copen_ability_tile_area
{
    margin-top: 5px;

    display: block;
    height:  43px;

    text-align: left;

}

.copen_ability_slot
{
    display: inline-block; 
    width:  43px;
    height: 43px;  
    position: relative;
}

.copen_ability_slot_any_cards{}
.copen_ability_slot_additional_card{}
.copen_ability_slot_construction_discount{}
.copen_ability_slot_change_of_colors{}
.copen_ability_slot_both_actions{}

.copen_ability_tile 
{
    background-color:  transparent;
    display: inline-block;
    width: 43px;
    height: 43px;
    position:  absolute;
    perspective: 100px;
}

.copen_ability_tile_inner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:  transform 0.8s;
    transform-style: preserve-3d;
}

.copen_ability_tile_front,
.copen_ability_tile_back
{
    background-image: url('img/tiles.png');
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.copen_ability_tile.copen_used_ability .copen_ability_tile_inner 
{
    transform: rotateY(180deg);    
}

.copen_ability_tile_back
{
    transform: rotateY(180deg);
    background-position-y: -49px;
}

.copen_ability_tile.copen_any_cards .copen_ability_tile_front,
.copen_ability_tile.copen_any_cards .copen_ability_tile_back,
.copen_log_ability_tile_any_cards{
    background-position-x: -194px;
}

.copen_ability_tile.copen_additional_card .copen_ability_tile_front,
.copen_ability_tile.copen_additional_card .copen_ability_tile_back,
.copen_log_ability_tile_additional_card{
    background-position-x: -145.5px;
}

.copen_ability_tile_stack #additional_card-1{ left: 0px; top: 0px; }
.copen_ability_tile_stack #additional_card-2{ left: 2px; top: -2px; }
.copen_ability_tile_stack #additional_card-3{ left: 4px; top: -4px; }
.copen_ability_tile_stack #additional_card-4{ left: 6px; top: -6px; }

.copen_ability_tile.copen_construction_discount .copen_ability_tile_front,
.copen_ability_tile.copen_construction_discount .copen_ability_tile_back,
.copen_log_ability_tile_construction_discount{
        background-position-x: -97px;
}

.copen_ability_tile_stack #construction_discount-1{ left: 51px; top: 0px; }
.copen_ability_tile_stack #construction_discount-2{ left: 53px; top: -2px; }
.copen_ability_tile_stack #construction_discount-3{ left: 55px; top: -4px; }
.copen_ability_tile_stack #construction_discount-4{ left: 57px; top: -6px; }

.copen_ability_tile.copen_change_of_colors .copen_ability_tile_front,
.copen_ability_tile.copen_change_of_colors .copen_ability_tile_back,
.copen_log_ability_tile_change_of_colors{
        background-position-x: -48.5px;
}

.copen_ability_tile_stack #change_of_colors-1{ left: 102px; top: 0px; }
.copen_ability_tile_stack #change_of_colors-2{ left: 104px; top: -2px; }
.copen_ability_tile_stack #change_of_colors-3{ left: 106px; top: -4px; }
.copen_ability_tile_stack #change_of_colors-4{ left: 108px; top: -6px; }

.copen_ability_tile.copen_both_actions .copen_ability_tile_front,
.copen_ability_tile.copen_both_actions .copen_ability_tile_back,
.copen_log_ability_tile_both_actions{
        background-position-x: 0px;
}

.copen_ability_tile_stack #both_actions-1{ left: 151px; top: 0px; }
.copen_ability_tile_stack #both_actions-2{ left: 153px; top: -2px; }
.copen_ability_tile_stack #both_actions-3{ left: 155px; top: -4px; }
.copen_ability_tile_stack #both_actions-4{ left: 157px; top: -6px; }

.copen_log_ability_tile
{
    display: inline-block;
    width: 43px;
    height: 43px;
    background-image: url('img/tiles.png');
    position: relative;
}

#shadow_box{
    display:  block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
}

.copen_behind_shadow_box{
    z-index: -2;
}


#polyomino_placement
{
    display:  none;
    position:  absolute;
    left:  0px;
    top:  0px;    
}

#polyomino_placement_target
{
    display:  block;
    position: absolute;
    left:  328px;
    top: 128px;    
    width: 158px;
    height: 158px;
}

#polyomino_placement .copen_polyomino
{
    filter:  drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0,0.5));
    z-index: 20;
}

#polyomino_placement .copen_polyomino.copen_invalid_placement
{
    filter: 
            drop-shadow(3px 0px 0px red)
            drop-shadow(-3px 0px 0px red)
            drop-shadow(0px 3px 0px red)
            drop-shadow(0px -3px 0px red)                     
            drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0,0.5));
}

#polyomino_placement .copen_polyomino .copen_overlap
{
    display:  none;
    width:  34px;
    height:  34px;
    position:  absolute;
    background-color:  red;
    opacity: 0.5;
}

#polyomino_placement_buttons
{
    display:  block;
    width: 176px;
    height: 41px;
    position:  absolute;
    left:  507px;
    top:  374px;
    text-align: left;

}

#polyomino_rotate_button
{
    display:  inline-block;
    position: relative;
    left:  0px;
    top: 0px;
    width: 38px;
    height: 41px;
    background-image: url('img/polyomino_buttons.png');
    background-position-x: 0px;

    cursor: pointer;
}

#polyomino_rotate_button:active
{
    background-position-y: -45px;
}

#polyomino_flip_button
{
    display: inline-block;
    position: relative;
    left:  0px;
    top: 0px;
    width: 38px;
    height: 41px;
    background-image: url('img/polyomino_buttons.png');
    background-position-x: -40px;

    cursor: pointer;
}

#polyomino_flip_button:active
{
    background-position-y: -45px;
}


#change_of_colors_ui
{
    display: none;
    width: 353px;
    height: 101px;

    position:  absolute;
    left: 23px;
    top: 350px;
}

.copen_change_of_colors_option
{
    display:  inline-block;
    width: 66px;
    height: 101px;
    margin-right: 4px;
    position:  relative;
}

.copen_new_color
{
    display: block;
    width: 66px;
    height:  101px;

    position: absolute;

    background-image:  url('img/cards.png');

    -webkit-mask-image: url('img/cards.png');
    mask-image: url('img/cards.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: -420px 0px;
    mask-position: -420px 0px;
}

.copen_new_color.copen_hidden
{
    display:  none;
}


/* UI Playerboards */

.player_board_content .copen_hand_size_wrapper
{
    margin-left: 44px;
}

.player_board_content .copen_hand_size_card
{
    background-image: url('img/polyomino_buttons.png'); 
    width: 28px;
    height: 41px;  
    background-image: url('img/tiny_cards.png');
    background-position: 0px 0px;
}

.player_board_content .copen_hand_size_number
{
    text-align: center;
    color:  white;
    font-weight: bold;
    padding-top: 10px;
}


