/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Copenhagen implementation : © <Joe France> <josephfrance@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * copenhagen.css
 *
 * Copenhagen stylesheet
 *
 */

/*
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


#copen_wrapper
{
    text-align: center;
    position:  relative;
    font-size: 0; /* so white space doesn't change layout */
}

.copen_button_disabled
{
    color: #afafaf !important;
    background:  #6a6a6a !important;
    border: 1px solid #9b9b9b !important;
    cursor:  default !important;
}

#top_chunk
{
    vertical-align: text-top;
    display: inline-block;
    position: relative;
    width: 730px;
    height: 550px;
}

#top_chunk.copen_spectator
{
    width: 500px; 
}

#bottom_chunk
{
    vertical-align: text-top;
    display: inline-block;
    position:  relative;
    height: 500px;
    min-width: 250px;
}



#harbors
{
    position: absolute;
    display:  block;
    left: 31px;
    height: 7px;
    width: 462px;

}

.copen_harbor
{
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 6px;
    background-image:  url('img/harbor.png');
    background-repeat: no-repeat;
}

#harbor_0{ left:0px; }
#harbor_1{ left:66px; }
#harbor_2{ left:132px; }
#harbor_3{ left:198px; }
#harbor_4{ left:264px; }
#harbor_5{ left:330px; }
#harbor_6{ left:396px; }

#deck_cards
{
    position: absolute;
    width: 28px;
    display: block;
    height:  41px;
}

#deck{
    z-index: 1;
}

#deck,
.deck_shuffle_card
{
    display: block;
    width: 28px;
    height: 41px;

    position: absolute;  
    background-image: url('img/tiny_cards.png');
    background-position: 0px 0px;
    text-align: center;
}

#cards_remaining
{
    position: absolute;
    color:  white;
    font-weight: bold; 
    font-size:  17px;    

    width: 28px;
    height: 41px;

    margin-top: 10px; 
    opacity: 0.75; 
}

#small_mermaid_card_slot
{
    background-image: url('img/tiny_cards.png');
    background-position: -28px -42px;

    position:  absolute;
    top: 41px;

    display: block;
    width: 28px;
    height: 41px;
}


#small_mermaid_card
{
    display: block;
    position:  absolute;
    width: 28px;
    height: 41px;
    top: 41px;
    background-image: url('img/tiny_cards.png');
    background-position: 0px -42px;
}

#harbor_cards
{
    position:  absolute;
    display: block;
    width:  462px;
    height: 101px;
    top: 7px;
    left: 31px;
}

#harbor_cards .copen_card
{
    top: 0px;
    z-index: 2; 
    transition: transform 0.25s;
}

#harbor_cards .copen_card:hover
{
    z-index: 10; 
    
}

.copen_card
{
    display: block;
    position:  absolute;
    width: 66px;
    height: 101px;

    perspective: 500px;
}

.copen_card_image
{
    display: block;
    width: 66px;
    height: 101px;

    position:  absolute;
    top: 0px;
    left: 0px;

    background-image:  url('img/cards.png');  
    background-size: 431px 101px;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.copen_red_card .copen_card_image,
.copen_new_color.copen_purple_card
{ 
    background-position: -1.5px 0px; 
}


.copen_yellow_card .copen_card_image,
.copen_new_color.copen_yellow_card
{ 
    background-position: -73.5px 0px; 
}

.copen_green_card .copen_card_image,
.copen_new_color.copen_green_card
{ 
    background-position: -146px 0px; 
}

.copen_blue_card .copen_card_image,
.copen_new_color.copen_blue_card
{ 
    background-position: -218.5px 0px;
}

.copen_purple_card .copen_card_image,
.copen_new_color.copen_purple_card
{ 
    background-position: -291.5px 0px;
}


.copen_mermaid_card .copen_card_image{  background-position: -363.5px 0px; }



.copen_harbor_position
{
    display: block;
    position: absolute;
    width: 66px;
    height: 101px;
}

#harbor_position_0{ left:0px; }
#harbor_position_1{ left:66px; }
#harbor_position_2{ left:132px; }
#harbor_position_3{ left:198px; }
#harbor_position_4{ left:264px; }
#harbor_position_5{ left:330px; }
#harbor_position_6{ left:396px; }

.copen_usable:hover
{
    filter:  drop-shadow(0px 0px 5px white);
    cursor:  pointer;
}

.copen_unusable:hover
{
    filter:  drop-shadow(0px 0px 5px red);
}

.copen_activated,
.copen_activated:hover
{
    filter:  drop-shadow(0px 0px 5px blue);
}

.copen_hidden
{
    display: none !important;
}


#polyominoes
{
    display:  block;
    position: absolute;

    top: 112px;

    width:  477px;
    height:  370px;   
}

.copen_polyomino
{
    position: absolute;
    perspective: 500px;
}

.copen_polyomino_image
{
    display: block;
    width:  100%;
    height:  100%;
    background-image: url('img/polyominoes.png');
    transform-style: preserve-3d;
}

.copen_polyomino.copen_usable
{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;

    touch-action:  none;
}

/*
I'VE TRIED KEEPING THE GRABBING HAND DURING THE WHOLE DRAG OPERATION
  but when you start dragging, the dropEffect takes over
  I don't know if there's a way to turn that off.
*/
.copen_polyomino.copen_usable:active:hover /* Do both active and hover to cause the cursor to change on click */
{
    cursor: grabbing ;
}

.copen_log_polyomino,
{
    display: inline-block;
}


.copen_stack { position: absolute; }
.copen_stack .copen_polyomino { position: absolute; }
.copen_stack .copen_polyomino:nth-child(1) { left: 0px; top: 4px; }
.copen_stack .copen_polyomino:nth-child(2) { left: 2px; top: 2px; }
.copen_stack .copen_polyomino:nth-child(3) { left: 4px; top: 0px; }



#purple-2_stack { left: 0px; top: 0px; }

.copen_purple-2  
{
    width: 68px;
    height: 34px;
}

.copen_purple-2 .copen_polyomino_image { background-position: 0px -212px; }


#purple-3_stack { left: 74px; top: 0px; }
.copen_purple-3
{
    width: 102px;
    height: 34px;
}
.copen_purple-3 .copen_polyomino_image { background-position: 0px -176px; }


#purple-4_stack { left: 181px; top: 0px; }
.copen_purple-4
{
    width: 136px;
    height: 34px;
}
.copen_purple-4 .copen_polyomino_image { background-position: -312px 0px; }

#purple-5_stack { left: 322px; top: 0px; }
.copen_purple-5
{
    width: 170px;
    height: 34px;
}
.copen_purple-5 .copen_polyomino_image { background-position: -208px -176px; }

#green-2_stack { left: 0px; top: 41px; }
.copen_green-2
{
    width: 68px;
    height: 34px;
}
.copen_green-2 .copen_polyomino_image { background-position: -70px -212px; }

#green-3_stack { left: 74px; top: 41px; }
.copen_green-3
{
    width: 102px;
    height: 34px;
}
.copen_green-3 .copen_polyomino_image { background-position: -104px -176px; }

#green-4_stack { left: 181px; top: 41px; }
.copen_green-4
{
    width: 102px;
    height: 68px;
}
.copen_green-4 .copen_polyomino_image { background-position: -104px -106px; }

#green-5_stack { left: 293px; top: 41px; }
.copen_green-5
{
    width: 102px;
    height: 102px;
}
.copen_green-5 .copen_polyomino_image { background-position: -104px 0px; }

#red-2_stack { left: 0px; top: 132px; }
.copen_red-2
{
    width: 68px;
    height: 34px;
}
.copen_red-2 .copen_polyomino_image { background-position: -140px -212px; }

#red-3_stack { left: 74px; top: 132px; }
.copen_red-3
{
    width: 68px;
    height: 68px;
}
.copen_red-3 .copen_polyomino_image { background-position: -382px -36px; }

#red-4_stack { left: 148px; top: 132px; }
.copen_red-4
{
    width: 68px;
    height: 68px;
}
.copen_red-4 .copen_polyomino_image { background-position: -450px -176px; }

#red-5_stack { left: 223px; top: 132px; }
.copen_red-5
{
    width: 102px;
    height: 68px;
}
.copen_red-5 .copen_polyomino_image { background-position: 0px -106px; }

#blue-2_stack { left: 0px; top: 209px; }
.copen_blue-2
{
    width: 68px;
    height: 34px;
}
.copen_blue-2 .copen_polyomino_image { background-position: -210px -212px; }

#blue-3_stack { left: 74px; top: 209px; }
.copen_blue-3
{
    width: 68px;
    height: 68px;
}
.copen_blue-3 .copen_polyomino_image { background-position: -312px -36px; }

#blue-4_stack { left: 169px; top: 209px; }
.copen_blue-4
{
    width: 102px;
    height: 68px;
}
.copen_blue-4 .copen_polyomino_image { background-position: -208px -106px; }


#blue-5_stack { left: 293px; top: 179px; }
.copen_blue-5
{
    width: 102px;
    height: 102px;
}
.copen_blue-5 .copen_polyomino_image { background-position: -208px 0px; }

#yellow-2_stack { left: 0px; top: 307px; }
.copen_yellow-2
{
    width: 68px;
    height: 34px;
}
.copen_yellow-2 .copen_polyomino_image {background-position: -280px -212px; }

#yellow-3_stack { left: 74px; top: 307px; }
.copen_yellow-3
{
    width: 68px;
    height: 68px;
}
.copen_yellow-3 .copen_polyomino_image {background-position: -380px -176px; }

#yellow-4_stack { left: 169px; top: 307px; }
.copen_yellow-4
{
    width: 102px;
    height: 68px;
}
.copen_yellow-4 .copen_polyomino_image {background-position: -312px -106px; }


#yellow-5_stack { left: 293px; top: 274px; }
.copen_yellow-5
{
    width: 102px;
    height: 102px;
}
.copen_yellow-5 .copen_polyomino_image {background-position: 0px 0px; }


#white-1_stack_1 { left: 258px; top: 396px; }
#white-1_stack_2 { left: 292px; top: 396px; }
#white-1_stack_3 { left: 326px; top: 396px; }
#white-1_stack_4 { left: 361px; top: 396px; }
.copen_stack .copen_white_polyomino:nth-child(1){ z-index: 1; }
.copen_stack .copen_white_polyomino:nth-child(2){ z-index: 2; }
.copen_stack .copen_white_polyomino:nth-child(3){ z-index: 3; }

.copen_white-1
{
    width: 34px;
    height: 34px;  
}
.copen_white-1 .copen_polyomino_image {background-position: -416px -106px; }


.copen_player_area
{
    width: 233px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

#hand
{
    display: block;
    position: absolute;

    top: 184px;
    left: 430px;
    width: 66px;
    height: 241px;
}

#hand.copen_over_max_hand_size
{
    filter:  drop-shadow(0px 0px 5px red);
    cursor:  pointer;
}

#cards_in_hand
{
    display: block ;
    position:  absolute;

    width: 100%;
    height: 100%;
}

#cards_in_hand .copen_card
{
    transition-property: opacity, left, top, transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
}


#hand_bottom_card_target
{
    display:  block;
    position:  absolute;

    top: 140px;
    width:  66px;
    height: 101px;
}

.copen_playerboard
{
    width: 230px;
    height: 425px;
    background-image:  url('img/playerboards.png');
}

.copen_playerboard .copen_playerboard_image
{
    display: block;
    width: 230px;
    height: 425px;

    position:  absolute;
    top:  0px;
    left: 0px;

    background-image:  url('img/playerboards.png');
}

.copen_playerboard_color_3785bd .copen_playerboard_image{ background-position: 0px 0px; }     /* blue */
.copen_playerboard_color_3da045 .copen_playerboard_image{ background-position: -460px 0px; }  /* green */
.copen_playerboard_color_e2474a .copen_playerboard_image{ background-position: -690px 0px; }  /* red */

.copen_playerboard_color_fbcc3c .copen_playerboard_image, /* deprecated */
.copen_playerboard_color_d7b03b .copen_playerboard_image
{ background-position: -230px 0px; }  /* yellow */


.copen_playerboard .copen_coat_of_arms
{
    display: block;
    position: absolute;
    width: 40px;
    height: 49px;
    background-image:  url('img/coat_of_arms.png');
    transform:  scale(0.5);
    opacity: 0; 
}

.copen_playerboard_color_3785bd .copen_coat_of_arms{ background-position: -44px 0px; }     /* blue */
.copen_playerboard_color_3da045 .copen_coat_of_arms{ background-position: -88px 0px; }  /* green */
.copen_playerboard_color_e2474a .copen_coat_of_arms{ background-position: -133px 0px; }  /* red */

.copen_playerboard_color_fbcc3c .copen_coat_of_arms, /* deprecated */
.copen_playerboard_color_d7b03b .copen_coat_of_arms{ background-position: -0px 0px; }  /* yellow */


.copen_playerboard .copen_coat_of_arms_1 { left: 81px; top: 256px; }
.copen_playerboard .copen_coat_of_arms_2 { left: 149px; top: 188px; }
.copen_playerboard .copen_coat_of_arms_3 { left: 47px; top: 121px; }
.copen_playerboard .copen_coat_of_arms_4 { left: 115px; top: 53px; }
.copen_playerboard .copen_coat_of_arms_5 { left: 191px; top: 289px; }
.copen_playerboard .copen_coat_of_arms_6 { left: 191px; top: 222px; }
.copen_playerboard .copen_coat_of_arms_7 { left: 191px; top: 154px; }


.copen_playerboard .copen_polyomino
{
    z-index: 1; /* Make sure the clickable cells are always in front of place polyominoes */
}

.copen_board_cell
{
    display:  inline-block;
    position: absolute;
    width: 34px;
    height: 34px;
    z-index: 2;
}

#polyomino_preview
{
    opacity: 0.5;
    position: absolute;
    display: block;
}

.copen_board_cells
{
    display: block;
    position: absolute;
    height: 306px;
    width:  170px;
    left: 16px;
    top: 61px;
}

.copen_board_cell.copen_preview.copen_invalid
{
    background-color:  red;
    opacity: 0.25;
}

.copen_board_cell_0_8{ top: 0px;  left:  0px; }
.copen_board_cell_0_7{ top: 34px; left:  0px; }
.copen_board_cell_0_6{ top: 68px; left: 0px; }
.copen_board_cell_0_5{ top: 102px; left: 0px; }
.copen_board_cell_0_4{ top: 136px; left: 0px; }
.copen_board_cell_0_3{ top: 170px; left: 0px; }
.copen_board_cell_0_2{ top: 204px; left: 0px; }
.copen_board_cell_0_1{ top: 238px; left: 0px; }
.copen_board_cell_0_0{ top: 272px; left: 0px; }

.copen_board_cell_1_8{ top: 0px;  left:  34px; }
.copen_board_cell_1_7{ top: 34px; left:  34px; }
.copen_board_cell_1_6{ top: 68px;  left: 34px; }
.copen_board_cell_1_5{ top: 102px; left: 34px; }
.copen_board_cell_1_4{ top: 136px; left: 34px; }
.copen_board_cell_1_3{ top: 170px; left: 34px; }
.copen_board_cell_1_2{ top: 204px; left: 34px; }
.copen_board_cell_1_1{ top: 238px; left: 34px; }
.copen_board_cell_1_0{ top: 272px; left: 34px; }

.copen_board_cell_2_8{ top: 0px;  left:  68px; }
.copen_board_cell_2_7{ top: 34px; left:  68px; }
.copen_board_cell_2_6{ top: 68px;  left: 68px; }
.copen_board_cell_2_5{ top: 102px; left: 68px; }
.copen_board_cell_2_4{ top: 136px; left: 68px; }
.copen_board_cell_2_3{ top: 170px; left: 68px; }
.copen_board_cell_2_2{ top: 204px; left: 68px; }
.copen_board_cell_2_1{ top: 238px; left: 68px; }
.copen_board_cell_2_0{ top: 272px; left: 68px; }

.copen_board_cell_3_8{ top: 0px;  left:  102px; }
.copen_board_cell_3_7{ top: 34px; left:  102px; }
.copen_board_cell_3_6{ top: 68px;  left: 102px; }
.copen_board_cell_3_5{ top: 102px; left: 102px; }
.copen_board_cell_3_4{ top: 136px; left: 102px; }
.copen_board_cell_3_3{ top: 170px; left: 102px; }
.copen_board_cell_3_2{ top: 204px; left: 102px; }
.copen_board_cell_3_1{ top: 238px; left: 102px; }
.copen_board_cell_3_0{ top: 272px; left: 102px; }

.copen_board_cell_4_8{ top: 0px;  left:  136px; }
.copen_board_cell_4_7{ top: 34px; left:  136px; }
.copen_board_cell_4_6{ top: 68px;  left: 136px; }
.copen_board_cell_4_5{ top: 102px; left: 136px; }
.copen_board_cell_4_4{ top: 136px; left: 136px; }
.copen_board_cell_4_3{ top: 170px; left: 136px; }
.copen_board_cell_4_2{ top: 204px; left: 136px; }
.copen_board_cell_4_1{ top: 238px; left: 136px; }
.copen_board_cell_4_0{ top: 272px; left: 136px; }


#owned_player_area
{
    position: absolute;
    top: 0px;
    left: 496px;
}

#owned_player_area.copen_spectator
{
    display: none !important;
}

#opponent_playerboards
{
    position:  relative;
}

#opponent_playerboards .copen_playerboard
{
    display: inline-block;
}

#ability_tile_stacks
{

    display:  block;
    width:  477px;
    height:  43px;

    position: absolute;
    top: 505px;

    text-align: left;
}

.copen_ability_tile_area
{
    margin-top: 5px;

    display: block;
    height:  43px;

    text-align: left;

}

.copen_ability_slot
{
    display: inline-block; 
    width:  43px;
    height: 43px;  
    position: relative;
}

.copen_ability_tile 
{
    background-color:  transparent;
    display: block;
    width: 43px;
    height: 43px;
    position:  absolute;
    perspective: 100px;
    transition: transform 0.25s;
}

.copen_ability_tile:last-child:hover 
{
    transform:  scale(2);
    z-index:  2;
}

.copen_ability_tile_inner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:  transform 0.8s;
    transform-style: preserve-3d;
}

.copen_ability_tile_front,
.copen_ability_tile_back
{
    background-image: url('img/tiles.png');
    background-size: 236px 88px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform-style: preserve-3d;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.copen_log_ability_tile
{
    display: inline-block;
    width: 43px;
    height: 43px;
    background-image: url('img/tiles.png');
    background-size: 236px 88px; /* CSS NOTE: If you put the background-size first, then your background coordinates after that point need to reference the coordinates AFTER the background has been scaled */
    position: relative;
}

.copen_ability_tile.copen_used_ability .copen_ability_tile_inner 
{
    transform: rotateY(180deg);    
}

.copen_ability_tile_back
{
    transform: rotateY(180deg);
    background-position-y: -45px;
}

.copen_ability_tile.copen_any_cards .copen_ability_tile_front,
.copen_ability_tile.copen_any_cards .copen_ability_tile_back,
.copen_log_ability_tile_any_cards{
    background-position-x: -180px;
}

.copen_ability_tile.copen_additional_card .copen_ability_tile_front,
.copen_ability_tile.copen_additional_card .copen_ability_tile_back,
.copen_log_ability_tile_additional_card{
    background-position-x: -135px;
}


.copen_ability_tile_stack{
    display: block;
    width: 43px;
    height: 43px;

    position: absolute;
}

#ability_tile_stack_additional_card{ left: 0px; }
#ability_tile_stack_construction_discount{ left: 51px; }
#ability_tile_stack_change_of_colors{ left: 102px; }
#ability_tile_stack_both_actions{ left: 153px; }

.copen_ability_tile_stack .copen_ability_tile{ position: absolute; }
.copen_ability_tile_stack .copen_ability_tile:nth-child(1) { left: 0px; top: 0px; }
.copen_ability_tile_stack .copen_ability_tile:nth-child(2) { left: 2px; top: -2px; }
.copen_ability_tile_stack .copen_ability_tile:nth-child(3) { left: 4px; top: -4px; }
.copen_ability_tile_stack .copen_ability_tile:nth-child(4) { left: 6px; top: -6px; }


.copen_ability_tile.copen_construction_discount .copen_ability_tile_front,
.copen_ability_tile.copen_construction_discount .copen_ability_tile_back,
.copen_log_ability_tile_construction_discount{
        background-position-x: -90px;
}

.copen_ability_tile.copen_change_of_colors .copen_ability_tile_front,
.copen_ability_tile.copen_change_of_colors .copen_ability_tile_back,
.copen_log_ability_tile_change_of_colors{
        background-position-x: -45px;
}

.copen_ability_tile.copen_both_actions .copen_ability_tile_front,
.copen_ability_tile.copen_both_actions .copen_ability_tile_back,
.copen_log_ability_tile_both_actions{
        background-position-x: 0px;
}

/********************** SAFARI ABILITY TILES *************************/
/* FRAGILE BROWSER ALERT */
/* As of Feb 27, 2022, all browsers look pretty good having the ability tiles at scale(1), then scaling up to scale(2) with the proper background-size settings*/
/*   except for Safari - where the opposite is true - having scale(0.5) and scale(1) looks pretty decent (with the proper background size settings) */
/*   however, this doesn't look good in Chrome - where the scale(0.5) is particularly blurry, so we create custom code here for Safari*/

.copen_safari .copen_ability_tile
{
    width: 86px;
    height: 86px;
    transform: scale(0.5);

    left: -21.5px;
    top: -21.5px;
}

.copen_safari .copen_ability_tile:last-child:hover 
{
    transform: scale(1);
}

.copen_safari .copen_ability_tile_front,
.copen_safari .copen_ability_tile_back
{
    background-size: unset;
}

.copen_safari .copen_ability_tile_stack{ top: -21.5px }
.copen_safari #ability_tile_stack_additional_card{ left: -21.5px; }
.copen_safari #ability_tile_stack_construction_discount{ left: 29.5px; }
.copen_safari #ability_tile_stack_change_of_colors{ left: 80.5px; }
.copen_safari #ability_tile_stack_both_actions{ left: 131.5px; }

.copen_safari .copen_ability_tile.copen_any_cards .copen_ability_tile_front,
.copen_safari .copen_ability_tile.copen_any_cards .copen_ability_tile_back
{
    background-position-x: -360px;
}

.copen_safari .copen_ability_tile.copen_additional_card .copen_ability_tile_front,
.copen_safari .copen_ability_tile.copen_additional_card .copen_ability_tile_back
{
    background-position-x: -270px;
}

.copen_safari .copen_ability_tile.copen_construction_discount .copen_ability_tile_front,
.copen_safari .copen_ability_tile.copen_construction_discount .copen_ability_tile_back
{
        background-position-x: -180px;
}

.copen_safari .copen_ability_tile.copen_change_of_colors .copen_ability_tile_front,
.copen_safari .copen_ability_tile.copen_change_of_colors .copen_ability_tile_back
{
        background-position-x: -90px;
}

.copen_safari .copen_ability_tile.copen_both_actions .copen_ability_tile_front,
.copen_safari .copen_ability_tile.copen_both_actions .copen_ability_tile_back
{
        background-position-x: 0px;
}

.copen_safari .copen_ability_tile_back
{
    background-position-y: -90px;
}

/********************** PAGE TITLE IMAGES *************************/

.copen_title_polyomino
{
    vertical-align: text-top;
    display:  inline-block;
    width: 23px;
    height: 23px;
    background-position: -455px 0px;
    background-image: url('img/polyominoes.png');
}

.copen_title_ability_tile,
.copen_title_ability_tile_used
{
    vertical-align: text-top;
    display:  inline-block;
    width: 24px;
    height: 23px;
    background-position: -450px 0px;
    background-image: url('img/tiles.png');
}

.copen_title_ability_tile_used
{
    background-position: -450px -25px;
}

#shadow_box{
    display:  block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
}

.copen_behind_shadow_box{
    z-index: -2;
}

#empty_pixel
{
    display: block;
    width: 1px;
    height: 1px;
    background-image: url('img/tiny_cards.png');
    background-position: -30px 0px;
}


#polyomino_placement
{
    display:  none;
    position:  absolute;
    left:  0px;
    top:  0px;    
}

#polyomino_placement .copen_polyomino
{
    filter:  drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0,0.5));
    z-index: 20;

    touch-action:  none;
}

#polyomino_placement .copen_polyomino.copen_invalid_placement
{
    filter: 
            drop-shadow(3px 0px 0px red)
            drop-shadow(-3px 0px 0px red)
            drop-shadow(0px 3px 0px red)
            drop-shadow(0px -3px 0px red)                     
            drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0,0.5));
}

#polyomino_placement .copen_polyomino .copen_overlap
{
    display:  none;
    width:  34px;
    height:  34px;
    position:  absolute;
    background-color:  red;
    opacity: 0.5;
}

#polyomino_placement_buttons
{
    display:  block;
    width: 176px;
    height: 41px;
    position:  absolute;
    left:  507px;
    top:  374px;
    text-align: left;

}

#polyomino_rotate_button
{
    display:  inline-block;
    position: relative;
    left:  0px;
    top: 0px;
    width: 38px;
    height: 41px;
    background-image: url('img/polyomino_buttons.png');
    background-position-x: 0px;

    cursor: pointer;
}

#polyomino_rotate_button:active
{
    background-position-y: -45px;
}

#polyomino_flip_button
{
    display: inline-block;
    position: relative;
    left:  2px;
    top: 0px;
    width: 38px;
    height: 41px;
    background-image: url('img/polyomino_buttons.png');
    background-position-x: -40px;

    cursor: pointer;
}

#polyomino_flip_button:active
{
    background-position-y: -45px;
}


#change_of_colors_ui
{
    display: none;
    width: 353px;
    height: 101px;

    position:  absolute;
    left: 23px;
    top: 350px;
}

.copen_change_of_colors_option
{
    display:  inline-block;
    width: 66px;
    height: 101px;
    margin-right: 4px;
    position:  relative;
}

.copen_change_of_colors_option .copen_card
{
    transition: transform 0.25s;
}

.copen_new_color
{
    display: block;
    width: 66px;
    height:  101px;

    position: absolute;

    background-image:  url('img/cards.png');
    background-size: 431px 101px;

    clip-path: polygon(0% 0%, 40% 0%, 100% 60%, 100% 100%, 0% 100%);
}

.copen_new_color.copen_hidden
{
    display:  none;
}


/* UI Playerboards */

.player_board_content .copen_hand_size_wrapper
{
    margin-left: 44px;
}

.player_board_content .copen_hand_size_card
{
    background-image: url('img/polyomino_buttons.png'); 
    width: 28px;
    height: 41px;  
    background-image: url('img/tiny_cards.png');
    background-position: 0px 0px;
}

.player_board_content .copen_hand_size_number
{
    text-align: center;
    color:  white;
    font-weight: bold;
    padding-top: 10px;
}

/****************** COLORBLIND SUPPORT ******************/

.copen_colorblind .copen_polyomino_image
{
    background-image: url('img/polyominoes_colorblind.png');
}

.copen_colorblind .copen_card .copen_card_image,
.copen_colorblind .copen_new_color
{
    background-image:  url('img/cards_colorblind.png');
}

.copen_colorblind .copen_green_card .copen_card_image,
.copen_new_color.copen_green_card
{
    filter: saturate(2);  
}


.copen_colorblind .copen_red_card .copen_card_image,
.copen_new_color.copen_red_card
{
    filter: saturate(4);  
}

.copen_colorblind .copen_purple_card .copen_card_image,
.copen_new_color.copen_purple_card
{
    filter: saturate(3) brightness(0.8) contrast(1.5);   
}

.copen_colorblind .copen_blue_card .copen_card_image,
.copen_new_color.copen_blue_card
{
    filter: saturate(1.5) contrast(1.2);   
}

.copen_colorblind .copen_playerboard_color_e2474a .copen_playerboard_image  /* red */
{ 
        filter: saturate(4); 
} 